.header-section {
    background-color: $blue;
    padding: 3rem;
    display: flex;
    justify-content: space-between;

    &__app-name {
        color: $white;
        text-decoration: none;
        font-size: 4rem;
        &:hover,&:visited {
            text-decoration: none;
        }
    }

    &__btn {
        color: $white;
        background-color: $yellow;
        border: none;
        border-radius: 5px;
        padding: .5rem 2rem;
        font-size: 1.7rem;
    }
}