.expenselist-section {
    width: 80rem;
    margin: 0 auto;

    &__list-item {
        padding: 1rem 0;
        border-bottom: 1px dotted darken($grey,8%);
    }
    &__edit-item {
        display: block;
        color: $blue-dark;
        text-decoration: none;
        font-size: 2.2rem;
        padding: 1rem 0;
        h3 {
            font-weight: normal;
        }

    }

    &__details {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__amount {
        font-weight: 600;
        font-size: 1.8rem;
        margin-top: 0.5rem;
        span {
            font-weight: normal;
        }
    }
    &__date {
        font-size: 1.4rem;
        color: darken($yellow, 10%);
        align-items: center;
    }
}